.introduction {
  height: 92vh;
  // background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 7vh;
  &::-webkit-scrollbar {
    display: none;
  }
}

.intro-content {

}
